form.wd-searchbar {
    border: none;
    padding: 0;
    padding-left: 10px;
    background-color: lightgray;
}

input.wd-searchbar {
    width: 90%;
    border: 0px solid lightgray;
    border-radius: 100px;
    padding: 10px 4px 10px 40px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    background-color: #f7f9f9;
    float: left;
}

.wd-setting-icon {
    color: #403f3f;
    margin-left: 12px;
    margin-right: 12px;
    float: right;
    font-size: 20px;
    margin-top: 10px;
}

.wd-search-part {
    border-color: #f2f2f2;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

.wd-nav-link {
    margin-top: 10px;
    color: #a19f9f;
    font-weight: bold;
}

.wd-nav-link-active {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    border: solid deepskyblue;
    border-width: 0px 0px 3px 0px;
}

.wd-nar-link-bar {
    margin-bottom: -7px;
}

.wd-tuit-color {
    color: #61dafb;
}

.wd-all-tabs {
    justify-content: space-evenly;
}

.wd-tab {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
    font-weight: bold;
    font-family: Arial;
    float: left;
    text-align: center;
}

.wd-tab-highlighted {
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    float: left;
    clear: both;
}

.wd-break {
    width: 100%;
    border-color: rgb(110, 118, 125);
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    background-color: #383737;
    float: left;
    clear: both;
    height: 15px;
}


.wd-flex-container-flex {
    display: flex;
}

.wd-nav-icon {
    margin-top: 3px;
    margin-right: 13px;
    width: 20px;
    align-content: center;
}

.wd-title {
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
}

.wd-topic {
    font-weight: lighter;
    font-family: Arial;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-tuit {
    font-weight: lighter;
    font-family: Arial;
    font-size: 13px;
    color: rgb(110, 118, 125);
    margin-bottom: 20px;
}


.wd-white-dotdotdot {
    margin-right: 16px;
    margin-top: 50px;
    margin-left: 552px;
}

.wd-horizontal-break {
    background-color: rgb(110, 118, 125);
    width: 100%;
    height: 1px;
}

.wd-topic-bold {
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
}

.wd-news-content {
    margin-top: 5px;
    margin-bottom: 5px;
}


.wd-news-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 12px;
}

.wd-left-col {
    margin-left: auto;
}

.wd-tuit-button {
    width: 100%;
    min-width: 70px;
    border-radius: 50px;
    margin-top: 10px;
    height: 45px;
}

.wd-right-col {
    width: 400px;
}

.wd-company-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: -7px;
}

.wd-imagebackground {
    background-image: url("../../images/spacex.jpg");
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: -10px;
}

.wd-title-text-space {
    margin-top: -50px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.wd-border-around {
    align-items: center;
    width: 100%;
}

.wd-center-part {
    border-color: #f2f2f2;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

.wd-follow-button {
}

.wd-test {
    background-color: #61dafb;
}

.wd-follow-part {
    background-color: #f7f9f9;
}

.wd-follow-whole-part {
    border-radius: 20px;
    background-color: #f7f9f9;

}

.wd-show-more {
    text-decoration: none;
    color: #61dafb;
}

.wd-copyright {
    color: gray;
    margin-top: 20px;
    font-size: 15px;
}

.wd-follow-content {
    left: 55px;
}