.wd-title {
    color: white;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: -10px;
}

.wd-blue-dot {
    float: right;
    color: rgb(29, 161, 242);
    margin-right: 16px;
    font-weight: bold;
    margin-top: -10px;
}

.wd-nav-icon {
    margin-top: 3px;
    margin-right: 3px;
}

.wd-tuit-button {
    width: 100%;
    min-width: 70px;
    border-radius: 50px;
    margin-top: 10px;
}

.wd-flex-container-flex {
    display: flex;
}

.wd-flex-box {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}

.wd-border-around {
    border-color: #2e2c2c;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    /*align-items: center;*/
    width: 100%;
}

.wd-news-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-news-img {
    width: 85%;
    height: 85%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-top: 12px;

}

.wd-gray-dot {
    float: right;
    margin-top: -10px;
    margin-right: -1px;
}

.wd-userHandler {
    color: rgb(110, 118, 125);
    font-size: 13px;
    margin-bottom: 10px;
}

.wd-topic {
    margin-left: 12px;
    margin-right: 12px;
    font-weight: lighter;
    font-family: Arial;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-bg-dark {
    background-color: #1f1e1e;
}

.wd-break-line {
    border-color: rgb(47, 51, 54);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    width: auto;
}

.wd-topic-bold {
    font-weight: bold;
    font-family: Arial;
    font-size: 13px;
    margin-left: 12px;
}

.wd-checked {
    margin-left: 12px;
}

.wd-title {
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.wd-time {
    margin-right: 12px;
    font-weight: lighter;
    font-family: Arial;
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-photo-side {
    width: 60px;
    float: left;
    height: 48px;
}

.wd-content-side {
    width: 504px;
}

.wd-user-img {
    border-radius: 50px;
    width: 48px;
    height: 48px;
}

.wd-username {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.wd-user-handler {
    font-size: 15px;
    color: rgb(110, 118, 125);
    margin-left: 5px;
}

.wd-content {
    font-size: 15px;
    color: white;
}

.wd-normal-content {
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-right: 12px;
    margin-top: 12px;
    /*margin-bottom: 12px;*/
}

.wd-light-content {
    font-size: 15px;
    color: rgb(110, 118, 125);
    margin-left: 16px;
    margin-right: 12px;
    /*margin-top: 12px;*/
    margin-bottom: 12px;
}

.wd-sharing-photo {
    margin-top: 12px;
}

.wd-link-part {
    width: 504px;
    /*height: 400px;*/
    /*background-color: #61dafb;*/
    border-radius: 20px;
    border-color: rgb(110, 118, 125);
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    /*clear: both;*/
    display: block;
    margin-left: auto;
}

.wd-link-photo {
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(110, 118, 125);
}

.wd-link-icon {
    text-decoration: none;
    color: rgb(110, 118, 125);
    font-size: 18px;
}

.wd-icon-part {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    margin-top: 12px;
}

.wd-icon-font {
    font-size: 12px;
    margin-left: 12px;
}

.wd-pair-icon-number {
    width: 60px;
}

/*.wd-margin-left {*/
/*    margin-left: 16px;*/
/*}*/

/*.wd-margin-right {*/
/*    margin-right: 12px;*/
/*}*/

.wd-margin-top {
    margin-top: 12px;
}

/*.wd-margin-bottom {*/
/*    margin-bottom: 12px;*/
/*}*/
